/* Global styles*/
html,body {

    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 3rem;
}
h2  {
    font-size: 2.5rem;
}
p {
    font-size: 1.5rem;
}
a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: black;
}
a.current {
   color: pink;
    font-weight: bold;
}
.wrapper-center {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Forms */
.flex-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
label {
    font-size: 1.75rem;
    margin-bottom: 5px;
}
input {
    margin-bottom: 10px;
}
/* End of globals styles*/
/* Components styles*/
/* Header styles */
header {
    font-size: 1.75rem;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
}
.nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}
.nav-item{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.nav-item:hover{
    text-decoration: underline;
}
.nav-item-dropdown {
    position: relative;
}
.nav-item-course-dropdown {
    display: none;
    position: absolute;
    width: 80px;
    top: 30px;
    left:50%;
    z-index: 999;
    background-color: #fff;
    border: 2px solid black;
    box-shadow: 2px 2px 8px #c4c4c4;
    text-align: center;
    transform: translateX(-50%);

}
.nav-item-course-dropdown a {
    display: block;
    padding: 10px 5px;
}
/* Footer styles */
footer {
    width: 100%;
    height: 35px;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer div p {
    margin: 0;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 500;
}

/* Views styles */
/* Courses view*/
.wrapper {
    margin-top: 20px    ;
}
.grid-courses-view {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 7.5%;
}
.week-dropdown {
    text-align: center;
}
.week-dropdown-list {
    font-size: 1.5rem;

    background-color: grey;
    padding: 0;
    margin: 0;
}
.week-dropdown-list-item {
    list-style: none;
}
.course-content {
    grid-column-start: 2;
    grid-column-end: -1;
}