/* Global styles*/
html,body {

    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 3rem;
}
h2  {
    font-size: 2.5rem;
}
p {
    font-size: 1.5rem;
}
a {
    text-decoration: none;
    cursor: pointer;
}
a:visited {
    color: black;
}
a.current {
   color: var(--orange);
    font-weight: bold;
}
.wrapper-center {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Global Color Variables */
:root {
    --orange: #F98012;
    --baige: #FFE9D0;
}
/* End OF Global Color Variables */
/* Forms */
.flex-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 15%;
}
label {
    font-size: 1.75rem;
    margin-bottom: 5px;
    text-align: center;
}
input {
    width: 100%;
    margin-bottom: 15px;
    font-size: 2rem;
    padding: 5px 10px;
}

button {
    padding: 10px 20px;
    width: 75px;
}

/* End of globals styles*/

/* Common css styles */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
/* End of common css styles*/

/* Components styles*/

/* Header styles */
header {
    font-size: 1.75rem;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
}
.nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}
.nav-item{
    text-decoration: none;
    cursor: pointer;
}
.nav-item:hover{
    font-weight: bold;
}
a.nav-item-active, .nav-item-active {
    color: var(--orange);
    font-weight: bold;
}
.nav-item-dropdown {
    position: relative;
}
.nav-item-course-dropdown {
    display: none;
    position: absolute;
    width: 80px;
    top: 30px;
    left:50%;
    z-index: 999;
    background-color: #fff;
    border: 2px solid black;
    box-shadow: 2px 2px 8px #c4c4c4;
    text-align: center;
    transform: translateX(-50%);

}
.nav-item-course-dropdown a {
    display: block;
    padding: 10px 5px;
}
/* Footer styles */
footer {
    width: 100%;
    height: 35px;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer div p {
    margin: 0;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 500;
}

/* Views styles */
/* Courses view*/
.wrapper {
    margin-top: 20px    ;
}
.grid-courses-view {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 7.5%;
}
.week-dropdown {
    text-align: center;
}
.week-dropdown-list {
    font-size: 1.5rem;

    background-color: grey;
    padding: 0;
    margin: 0;
}
.week-dropdown-list-item {
    list-style: none;
}
.course-content {
    grid-column-start: 2;
    grid-column-end: -1;
}
/* Login Form Styles */

/* End of Login Form Styles */
/*core 1 assignments view */
.core1-modules-list {
    grid-column-start: 1;
}

.core1-module-item {
    list-style: none;
}

.core1-assignment-titles {
    grid-column-start: 2;
    text-align: center;
}

.core1-assignment-titles-item {
    list-style: none;
}

.core1-assignment-dates {
    grid-column-start: 3;
}

.core1-assignment-dates-item {
    list-style: none;
}

.core1-assignments {
    display: grid;
    grid-template-columns: 3;
    grid-column-gap: 2%;
    background-color: grey;
}


/*core 2 assignments view*/
.core2-modules-list {
    grid-column-start: 1;
}

.core2-module-item {
    list-style: none;
}

.core2-assignment-titles {
    grid-column-start: 2;
    text-align: center;
}

.core2-assignment-titles-item {
    list-style: none;
}

.core2-assignment-dates {
    grid-column-start: 3;
}

.core2-assignment-dates-item {
    list-style: none;
}

.core2-assignments {
    display: grid;
    grid-template-columns: 3;
    grid-column-gap: 2%;
    background-color: grey;
}

.assignments-grid {
    text-align: center;
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
}

.quizzes-elements-grid {
    text-align: center;
    margin: auto;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
}

.quizzes-grid {
    text-align: center;
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 2%;
    grid-template-rows: 1;
}

.core2-quizzes {
    display: grid;
    grid-template-columns: 2;
    grid-column-gap: 2%;
    grid-column-start: 2;
    background-color: grey;
}

.core1-quizzes {
    display: grid;
    grid-template-columns: 2;
    grid-column-gap: 2%;
    grid-column-start: 1;
    background-color: grey;
}

.core1-quizzes-list {
    margin: auto;
}

.core1-quizzes-item {
    font-size: 1.5rem;
}

.core2-quizzes-list {
    margin: auto;
}

.core2-quizzes-item {
    font-size: 1.5rem;
}
