/* Global styles*/
html,body {

    font-family: "Roboto", sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 1.8rem;
}
h2  {
    font-size: 1.5rem;
}
p {
    font-size: 1.5rem;
}
a {
    text-decoration: none;
    cursor: pointer;
}
a:visited {
    color: black;
}
a.current {
   color: var(--orange);
    font-weight: bold;
}
.wrapper-center {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Global Color Variables */
:root {
    --orange: #F98012;
    --baige: #FFE9D0;
}
/* End OF Global Color Variables */
/* Forms */
.flex-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 15%;
}
label {
    font-size: 1.25rem;
    margin-bottom: 5px;
    text-align: center;
}
input {
    width: 100%;
    margin-bottom: 15px;
    font-size: 1.25rem;
    padding: 5px 10px;
}

button {
    padding: 10px 20px;
    width: 75px;
}

/* End of globals styles*/

/* Common css styles */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
/* End of common css styles*/

/* Components styles*/

/* Header styles */
header {
    font-size: 1rem;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
}
.nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}
.nav-item{
    text-decoration: none;
    cursor: pointer;
}
.nav-item:hover{
    font-weight: bold;
}
a.nav-item-active, .nav-item-active {
    color: var(--orange);
    font-weight: bold;
}
.nav-item-dropdown {
    position: relative;
}
.nav-item-course-dropdown {
    display: none;
    position: absolute;
    width: 80px;
    top: 30px;
    left:50%;
    z-index: 999;
    background-color: #fff;
    border: 2px solid black;
    box-shadow: 2px 2px 8px #c4c4c4;
    text-align: center;
    transform: translateX(-50%);

}
.nav-item-course-dropdown a {
    display: block;
    padding: 10px 5px;
}
/* Footer styles */
footer {
    width: 100%;
    height: 35px;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer div p {
    margin: 0;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

/* Views styles */
/* Courses view*/
.wrapper {
    margin-top: 20px    ;
}
.grid-courses-view {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 7.5%;
}
.week-dropdown {
    text-align: center;
}
.week-dropdown-list {
    font-size: 1rem;

    background-color: grey;
    padding: 0;
    margin: 0;
}
.week-dropdown-list-item {
    list-style: none;
}
.course-content {
    grid-column-start: 2;
    grid-column-end: -1;
}
/* Login Form Styles */

/* End of Login Form Styles */
/*core 1 assignments view */
.core1-modules-list {
    grid-column-start: 1;
}

.core1-module-item {
    list-style: none;
}

.core1-assignment-titles {
    grid-column-start: 2;
    text-align: center;
}

.core1-assignment-titles-item {
    list-style: none;
}

.core1-assignment-dates {
    grid-column-start: 3;
}

.core1-assignment-dates-item {
    list-style: none;
}

.core1-assignments {
    display: grid;
    /*grid-template-columns: 3;*/
    grid-column-gap: 2%;
    background-color: grey;
}


/*core 2 assignments view*/
.core2-modules-list {
    grid-column-start: 1;
}

.core2-module-item {
    list-style: none;
}

.core2-assignment-titles {
    grid-column-start: 2;
    text-align: center;
}

.core2-assignment-titles-item {
    list-style: none;
}

.core2-assignment-dates {
    grid-column-start: 3;
}

.core2-assignment-dates-item {
    list-style: none;
}

.core2-assignments {
    display: grid;
    /*grid-template-columns: 3;*/
    grid-column-gap: 2%;
    background-color: grey;
}

.assignments-grid {
    text-align: center;
    width: 50%;
    margin: auto;
    display: grid;
    /*grid-template-columns: 1;*/
    /*grid-template-rows: 2;*/
}

.quizzes-elements-grid {
    text-align: center;
    margin: auto;
    display: grid;
    /*grid-template-columns: 1;*/
    /*grid-template-rows: 2;*/
}

.quizzes-grid {
    text-align: center;
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 2%;
    /*grid-template-rows: 1;*/
}

.core2-quizzes {
    display: grid;
    /*grid-template-columns: 2;*/
    grid-column-gap: 2%;
    grid-column-start: 2;
    background-color: grey;
}

.core1-quizzes {
    display: grid;
    /*grid-template-columns: 2;*/
    grid-column-gap: 2%;
    grid-column-start: 1;
    background-color: grey;
}

.core1-quizzes-list {
    margin: auto;
}

.core1-quizzes-item {
    font-size: 1.5rem;
}

.core2-quizzes-list {
    margin: auto;
}

.core2-quizzes-item {
    font-size: 1.5rem;
}

/* Dashboard*/
/* tooltip class in dashboard.php*/
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext a{
    color: white;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 7px;
    /* Position the tooltip text  */
    position:absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.container {
    width: 1200px;
    margin: 50px auto;
    background: whitesmoke;
    height: 900px;

}
.navigation-bar {
    background-color:#f1f1f1;
    width: 200px;
    height: inherit;
    float: left;
}
.navigation-content {
    text-align:center;
    padding: 10px;

}

.navigation-box{
    float: left;
    text-align: center;
    padding: 10px;
    font-family:sans-serif;
    padding-left: 30px;
}
.navigation-box .box {
    position: relative;
    width: calc(250px - 30px);
    height: calc(250px - 30px);
    background: palegreen;
    float:left;
    margin: 30px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}
.navigation-box .box .icon{
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height :100%;
    background: seagreen;
    transition :0.5s;
    z-index:1;
}
.navigation-box .box:hover .icon{
    top:20px;
    right:calc(50% - 40px);
    left :calc(50% - 40px);
    width:80px;
    height:80px;
    border-radius: 50%;
}
.navigation-box .box .icon .fa{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size:80px;
    transition: 0.5s;
    color:black;
}
.navigation-box .box:hover .icon .fa{
    font-size: 50px;
}
.navigation-box .box .content{

    font-size: 25px;
    position :absolute;
    top:100px;
    height:calc(100% - 100px);
    text-align: center;
    padding:20px;
    box-sizing: border-box;
}
/* The navigation menu links */

